/* .toate_produsele {
  display: inline-flex;
}
.produs {
  padding: 1rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 3% 8% 0 31%;
} */
