body{
    background-image: url("milka.jpg");
}
p{
    color: black;
}
h1{
    text-align: center;
}
footer{
    text-align: right;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
}
