* {
  margin: 0;
}
body {
  width: 100%;
}
header {
  background-color: rgba(248, 203, 0, 1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}
text {
  font-family: Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header_container {
  display: flex;
  justify-content: center;
}
.col-1 {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  color: white;
}
.col-2 {
  width: 75%;
  margin-left: 20px;
}
.col-1-spacing {
  padding-bottom: 49px;
}
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.top_right_menu li {
  display: inline;
  padding: 10px 0;
}
.search {
  width: 80%;
}
.search input {
  padding: 0rem 0rem 1rem 1rem;
  width: 100%;
  border: none;
  background-image: url("search_icon.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.button_menu form {
  display: flex;
  justify-content: space-between;
}
.chart-button {
  background-color: rgba(99, 100, 216, 1);
  display: inline-block;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 3px;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 35px;
  overflow: hidden;
  padding-left: 11px;
}
.chart-button-left {
  color: #ffffff;
}
.chart-button-right {
  background-color: rgba(57, 58, 177, 1);
  height: 35px;
  margin-bottom: 10px;
  padding: 12px;
  color: #ffffff;
  margin-left: 9px;
}
.cart-img {
  vertical-align: middle;
}
.main-menu {
  width: 100%;
  padding: 20px 0 40px 20px;
  transform: translateY(-45px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0px 8px 17px 4px rgba(121, 121, 121, 0.1);
}

.first_line {
  display: flex;
  justify-content: space-between;
}
.second_line {
  display: flex;

  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.first_line,
.second_line {
  margin: 20px 0;
}
.filter li {
  display: inline;
  margin-right: 15px;
}
.shop_item img {
  width: 100%;
  height: auto;
}
.shop_item {
  width: 160px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0px 8px 17px 4px rgba(121, 121, 121, 0.1);
}
.shop_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reclama img {
  width: 100%;
  height: auto;
}
.descriere,
.price {
  text-align: center;
}
.in-main-menu li a {
  padding: 20px 0 40px 20px;
  color: gray;
}
