* {
  margin: 0;
}
body {
  width: 100%;
}
header {
  background-color: rgba(248, 203, 0, 1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header_container {
  display: flex;
  justify-content: center;
}
.top_container_left {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.title {
  color: white;
}
.top_container_right {
  width: 75%;
}
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.top_right_menu li {
  display: inline;
  padding: 10px 0;
}
.search {
  width: 80%;
}
.search input {
  padding: 0rem 0rem 1rem 1rem;
  width: 100%;
  border: none;
  background-image: url("search_icon.png");
  background-repeat: no-repeat;
}
.button_menu form {
  display: flex;
  justify-content: space-between;
}
.chart-button {
  background-color: rgba(99, 100, 216, 1);
  display: inline-block;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 3px;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 35px;
  overflow: hidden;
  padding-left: 11px;
}
.chart-button-left {
  color: #ffffff;
}
.chart-button-right {
  background-color: rgba(57, 58, 177, 1);
  height: 35px;
  margin-bottom: 10px;
  padding: 12px;
  color: #ffffff;
  margin-left: 9px;
}
.cart-img {
  vertical-align: middle;
}
.container_low {
  display: flex;
}
.left_container {
  width: 20%;
}
.right_container {
  width: 75%;
  display: flex;
}
.main-menu {
  margin: -10% 15%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0px 8px 17px 4px rgba(121, 121, 121, 0.1);
}

.first_line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2% 3%;
}
.second_line {
  display: flex;
}
.filter {
  display: flex;
}
