.myCart {
  background: rgba(99, 100, 216, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 20%;
  margin-left: 125px;
  margin-top: 30px;
  height: 3rem;
}
.myCart-text {
  color: #fff;
}
.count {
  width: 50%;
  display: flex;
  justify-content: center;
}

.cart-icon {
  margin-left: auto;
  margin-right: auto;
}
